<form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid grid-cols-2 gap-2 mt-6">
  <div class="p-field flex flex-col">
    <label for="name" class="w-full">Tên</label>
    <input id="name" type="text" class="w-full" pInputText formControlName="name">
  </div>

  <div class="p-field flex flex-col">
    <label for="desc"  class="w-full">Mô tả</label>
    <input id="desc"  class="w-full" type="text" pInputText formControlName="desc">
  </div>

  <button pButton label="Huỷ (ESC)"></button>
  <button type="submit" pButton label="Save"></button>
</form>
