<div *ngIf="isLoading" class="loading-container">
    <!-- <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar> -->
    <p-progressSpinner></p-progressSpinner>
    <p>{{ "Common.Loading" | translate }}...</p>
</div>
<div *ngIf="!isLoading">
    <p-toast key="msg-toast"></p-toast>
    <p-confirmDialog></p-confirmDialog>
    <div class="flex items-center justify-between">
        <span class="font-semibold text-xl text-primary">{{
            "CShop.ProductDetail.Title" | translate
        }}</span>
        <div>
            <span class="p-input-icon-right">
                <input
                    type="text"
                    pInputText
                    placeholder="{{ 'Common.Search' | translate }}"
                />
                <i class="pi pi-search"></i>
            </span>
            <button
                (click)="handleCreate()"
                pButton
                pRipple
                label="{{ 'Common.Create' | translate }}"
                class="ml-[20px]"
                icon="pi pi-plus"
            ></button>
        </div>
    </div>
    <section class="mt-[30px]">
        <div class="content-table">
            <p-table
                [value]="data"
                [scrollable]="true"
                scrollHeight="calc(100vh - 260px)"
                [tableStyle]="{ 'min-width': '50rem' }"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{ "Common.Position" | translate }}</th>
                        <th>{{ "CShop.Product.Detail" | translate }}</th>
                        <th>{{ "CShop.Product.Evaluate" | translate }}</th>
                        <th>{{ "CShop.Product.Revenue" | translate }}</th>
                        <th>{{ "CShop.Category.Image" | translate }}</th>
                        <th>{{ "CShop.Category.Description" | translate }}</th>
                        <th class="text-center">
                            {{ "Common.Operation" | translate }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{ item.position }}</td>
                        <td>
                            <div class="flex flex-col">
                                <span>{{ "CShop.ProductDetail.Color" | translate }}: {{ item.color }}</span>
                                <span>{{ "CShop.ProductDetail.Size" | translate }}: {{ item.size }}</span>
                                <span>{{ "CShop.ProductDetail.Unit" | translate }}: {{ item.unit }}</span>
                            </div>
                        </td>

                        <td>
                            <div class="flex flex-col">
                                <p-rating
                                    [(ngModel)]="item.star"
                                    [disabled]="true"
                                    [stars]="5"
                                    [cancel]="false"
                                ></p-rating>
                                <span
                                    >{{
                                        "CShop.Product.NumberEvaluate"
                                            | translate
                                    }}: {{ item.numberEvaluate }}</span
                                >
                            </div>
                        </td>
                        <td>
                            <div class="flex flex-col">
                                <span>
                                    {{
                                        "CShop.Product.NumberSold" | translate
                                    }}: {{ item.numberSold }}
                                </span>
                                <span
                                    >{{
                                        "CShop.Product.NumberStock" | translate
                                    }}: {{ item.numberStock }}</span
                                >
                            </div>
                        </td>
                        <td>
                            <p-image
                                src="{{ item.pictureUrl }}"
                                alt="Image"
                                width="100"
                                loading="lazy"
                                [preview]="true"
                            ></p-image>
                        </td>

                        <td>
                            <div class="flex flex-col">
                                <span>{{ item.description }}</span>
                            </div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center gap-2">
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-file-edit"
                                    class="p-button-rounded p-button-text"
                                    (click)="handleCopy(item)"
                                    pTooltip="{{ 'Common.Edit' | translate }}"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi pi-trash"
                                    class="p-button-rounded p-button-text"
                                    (click)="handleDelete(item.id)"
                                    pTooltip="{{ 'Common.Delete' | translate }}"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="first"
            [rows]="rows"
            [totalRecords]="totalCount"
            [rowsPerPageOptions]="pageOption"
        ></p-paginator>
    </section>
</div>
