<div class="flex flex-col">
    <p-image
        src="https://cdn.galaxycine.vn/media/2024/6/20/despicable-me-4-2048_1718865168626.jpg"
        alt="Image"
        [preview]="true"
    ></p-image>

    <div class="grid grid-cols-4 gap-4 mt-12">
        <p-image
            src="https://cdn.galaxycine.vn/media/2024/6/20/despicable-me-4-500_1718865149847.jpg"
            alt="Image"
        ></p-image>
        <div class="col-span-3 flex flex-col">
            <span class="text-gray-950 font-bold text-3xl"
                >KẺ CẮP MẶT TRĂNG</span
            >
            <div class="flex my-2">
                <i class="pi pi-clock text-xl items-center text-amber-600"
                    ><span class="text-gray-950 ml-2">112 phút</span></i
                >
                <i
                    class="pi pi-calendar-minus text-xl items-center text-amber-600 ml-6"
                    ><span class="text-gray-950 ml-2">05/07/2024</span></i
                >
            </div>
            <i class="pi pi-star-fill text-3xl items-center text-amber-600 my-2"
                ><span class="text-gray-950 ml-2">8.9</span
                ><span class="text-gray-950 ml-2 text-xl">(89 votes)</span></i
            >
            <div class="flex my-2 text-xl items-center justify-center">
                <span class="w-1/6">Quốc gia</span>
                <div class="w-5/6">
                    <button
                        pButton
                        pRipple
                        type="button"
                        class="p-button-outlined p-button-secondary rounded-md"
                    >
                        Mỹ
                    </button>
                </div>
            </div>
            <div class="flex my-2 text-xl items-center justify-center">
                <span class="w-1/6">Nhà sản xuất</span>
                <div class="w-5/6">
                    <button
                        pButton
                        pRipple
                        type="button"
                        class="p-button-outlined p-button-secondary rounded-md"
                    >
                        Chưa cập nhật
                    </button>
                </div>
            </div>
            <div class="flex my-2 text-xl items-center justify-center">
                <span class="w-1/6">Thể loại</span>
                <div class="w-5/6">
                    <button
                        pButton
                        pRipple
                        pButton
                        pRipple
                        type="button"
                        class="p-button-outlined p-button-secondary rounded-md mr-4"
                    >
                        Phim hoạt hình
                    </button>
                    <button
                        pButton
                        pRipple
                        type="button"
                        class="p-button-outlined p-button-secondary rounded-md"
                    >
                        Phiêu lưu
                    </button>
                </div>
            </div>
            <div class="flex my-2 text-xl items-center justify-center">
                <span class="w-1/6">Đạo diễn</span>
                <div class="w-5/6 gap-4">
                    <button
                        pButton
                        pRipple
                        type="button"
                        class="p-button-outlined p-button-secondary rounded-md"
                    >
                        Chưa cập nhật
                    </button>
                </div>
            </div>
            <div class="flex my-2 text-xl items-center justify-center">
                <span class="w-1/6">Diễn viên</span>
                <div class="w-5/6">
                    <button
                        pButton
                        pRipple
                        type="button"
                        class="p-button-outlined p-button-secondary rounded-md"
                    >
                        Chưa cập nhật
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-12">
        <p-accordion>
            <p-accordionTab
                header="Nội dung phim"
                [selected]="true"
                class="line-height-3 m-0"
            >
                Despicable Me (tiếng Việt: Kẻ trộm mặt trăng) là một bộ phim
                hoạt hình máy tính hài của Mỹ năm 2010 do Illumination
                Entertainment sản xuất và được phân phối bởi Universal Pictures,
                được phát hành ngày 9 tháng 7 năm 2010 ở Hoa Kỳ. Bộ phim có sự
                tham gia lồng tiếng của Steve Carell, Jason Segel, Russell
                Brand, Julie Andrews, Will Arnett, Kristen Wiig, và Miranda
                Cosgrove. Đây là bộ phim CGI đầu tiên được sản xuất bởi
                Universal, cùng với Illumination Entertainment. Bộ phim được dàn
                dựng hoàn toàn bằng máy tính tại studio Mac Guff ở Paris, Pháp.
                Bộ phim kể về câu chuyện của một siêu trộm tên là Gru, vốn có âm
                mưu lợi dụng ba đứa trẻ mồ côi để thực hiện ý đồ xấu xa, đã tìm
                thấy được ở ba cô bé một tình thương yêu kì lạ, và điều này đã
                thay đổi con người Gru. Bộ phim thu được các ý kiến tích cực từ
                các nhà phê bình, và thu về hơn 500 triệu đô-la Mỹ trên toàn thế
                giới, so với số vốn là 69 triệu đô-la. Các phần tiếp theo của
                loạt phim Kẻ trộm mặt trăng là: Kẻ trộm mặt trăng 2 (2013) và Kẻ
                trộm mặt trăng 3 (2017) và các phần trước đó là Minions (2015)
                và Minions: Sự trỗi dậy của Gru (2022). Phần tiếp theo của loạt
                phim này và là phần thứ sáu của loạt phim này là Kẻ trộm mặt
                trăng 4, hiện trong quá trình phát triển và sẽ được ra mắt vào
                ngày 3 tháng 7 năm 2024.
            </p-accordionTab>
            <p-accordionTab header="Lịch chiếu" class="line-height-3 m-0">
                <div class="flex">
                    <p-calendar
                        [showIcon]="true"
                        inputId="icon"
                        class="w-1/5"
                        [showTime]="true"
                        [showSeconds]="true"
                    ></p-calendar>
                    <div class="w-2/5"></div>
                    <p-autoComplete
                        [(ngModel)]="selectedItem"
                        [virtualScroll]="true"
                        [suggestions]="filteredItems"
                        [virtualScrollItemSize]="34"
                        field="label"
                        class="w-1/5 mr-4"
                        [dropdown]="true"
                    >
                    </p-autoComplete>
                    <p-autoComplete
                        [(ngModel)]="selectedItem"
                        [virtualScroll]="true"
                        [suggestions]="filteredItems"
                        [virtualScrollItemSize]="34"
                        field="label"
                        class="w-1/5"
                        [dropdown]="true"
                    >
                    </p-autoComplete>
                </div>
                <p-divider></p-divider>
                <div class="card mt-6">
                    <span class="font-bold text-3xl">GALAXY NGUYỄN DU</span>
                    <div class="flex mt-4">
                        <span class="w-1/6">2D Lồng Tiếng</span>
                        <div class="w-5/6 flex">
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                08:00
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                09:00
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                10:45
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                12:30
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary rounded-md"
                            >
                                14:15
                            </button>
                        </div>
                    </div>
                    <div class="flex mt-2">
                        <span class="w-1/6">2D Phụ đề</span>
                        <div class="w-5/6 flex">
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                09:00
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                10:45
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                12:30
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary rounded-md"
                            >
                                14:15
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card mt-6">
                    <span class="font-bold text-3xl">GALAXY TÂN BÌNH</span>
                    <div class="flex mt-4">
                        <span class="w-1/6">2D Lồng Tiếng</span>
                        <div class="w-5/6 flex">
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                08:00
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                09:00
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                10:45
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                12:30
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary rounded-md"
                            >
                                14:15
                            </button>
                        </div>
                    </div>
                    <div class="flex mt-2">
                        <span class="w-1/6">2D Phụ đề</span>
                        <div class="w-5/6 flex">
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                09:00
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                10:45
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                12:30
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary rounded-md"
                            >
                                14:15
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card mt-6">
                    <span class="font-bold text-3xl">GALAXY SALA</span>
                    <div class="flex mt-4">
                        <span class="w-1/6">2D Lồng Tiếng</span>
                        <div class="w-5/6 flex">
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                08:00
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                09:00
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                10:45
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                12:30
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary rounded-md"
                            >
                                14:15
                            </button>
                        </div>
                    </div>
                    <div class="flex mt-2">
                        <span class="w-1/6">2D Phụ đề</span>
                        <div class="w-5/6 flex">
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                09:00
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                10:45
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary mr-2 rounded-md"
                            >
                                12:30
                            </button>
                            <button
                                pButton
                                pRipple
                                type="button"
                                class="p-button-outlined p-button-secondary rounded-md"
                            >
                                14:15
                            </button>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
    <video #videoPlayer controls>
        <source src="assets/videos/trailerfilm.mp4" type="video/mp4" />
        Trình duyệt của bạn không hỗ trợ thẻ video.
    </video>
</div>
